.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 50px;
    grid-template-areas:
    "r r r r r r b b b b b b"
    "g g g p p p p p p p p p"
    "y y y y y y y y y y y y"
 }
 
.red {
    /*grid-column: 1/7;*/
    grid-area:r

}

.blue{
    /*grid-column: 7/-1;*/
    grid-area:b
}

.green {
    /*grid-column: 1/ 4;*/
    grid-area:g
}

.purple {
    /*grid-column: 4/-1;*/
    grid-area:p
}
.yellow {
    /*grid-column: 1/-1;*/
    grid-area:y
}