html, body {
    background-color: #ffffff;
    margin: 10px;
}

.container > div {
    display: flex;
    font-size: 2em;
    color: #f7f7f7;
    text-transform: uppercase;
    border-radius: 3px;
}

.container > div:nth-child(1n) {
    background-color: gray;	
}

.container > div:nth-child(2n) {
    background-color: #494949;
}

.container > div:nth-child(3n) {
    background-color: #494949;
}

.container > div:nth-child(4n) {
    background-color: rgb(189, 186, 186);
}
.container > div:nth-child(5n) {
    background-color: gray;
}