*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.site-header {
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-container {
    display: flex;
}

.site-header .container {
    justify-content: space-between;
    align-items: center;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    color: #0a0a0a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 5px;
    padding: 10px 17px;
}

.main-nav a:hover, .main-nav a:active{
    background-color: #5ebfa5;
    border-radius: 5px;
}

.mobile-nav{
    display: none;
}

.logo {
    padding: 55px 0;
}

/* HERO */
.hero{
    background-color: #fff;
    text-align: center;
    padding-top: 100px;
}

section> .container {
    padding: 120px 0;
}

.hero h1 {
    color: #0a0a0a;
    font-size: 2.625rem;
    line-height: 1.1428;
}

.hero a,.btn {
    font-size: 1.125rem;
    letter-spacing: 0.02em;
    color: #0a0a0a;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5ebfa5;
    padding: 20px 82px 25px;
    border-radius: 5px;
    border-bottom:4px solid #2f6e5d;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
}
/* FOOTER*/
.footer{
    background-color: #f8f8f8;
    padding: 50px 0;
}

.footer ul{
    justify-content: space-around;
    list-style: none;
}

.footer ul li a{
    display: block;
    padding: 5px;
    color: #0a0a0a;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.footer ul li a:hover{
    background-color: #5ebfa5;
    border-radius: 5px;
}

@media screen and (max-width:980px){
    .main-nav{
        display: none;
    }
    .site-header .container{
        display: block;
    }
    .logo{
        float: left;
    }
    .mobile-nav{
        position: relative;
        width: 100%;
        display: block;
    }
    .mobile-nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100%;
        top: 133px;
        padding: 20px;
        background-color: #fff;
    }
    .mobile-nav li{
        list-style: none;
    }
    .mobile-nav a{
        color: #3c4761;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        margin:0 5px;
        padding: 10px 17px;
        display: block;
    }
    .mobile-nav a:hover, .mobile-nava:active{
        background-color: #37806c;
        border-radius: 5px;
        color: #0a0a0a;
    }
    .mobile-nav a.icon{
        display: block;
        position: absolute;
        right: 0;
        top: 60px;
        color: #0a0a0a;
    }

    .services .section-content {
        flex-direction: column;
    }

    .service{
        max-width: 90%;
    }

    .footer ul{
        padding-left: 0;
    }
}

@media screen and (max-width:640px){
    .footer-nav .flex-container{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:414px) {
    section > .contact{
        padding: 70px 0;
    }
    .container{
        padding: 0 20px;
    }
    .hero h1{
        font-size: 2.3rem;
    }
    .section-heading h2{
        font-size: 2rem;
    }
    
}