button {
    background-color:blue ;
   color: #fff; 
   width: 200px;
   height: 200px;
   font-size: 24px;
   border-radius: 50%;
   border: none;  
}

button:active {
    background-color: blueviolet;

}
/* ul li:nth-child(3){
    color: green;
} */