@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('colors.css');

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bodyBG);
    background-image: url('https://source.unsplash.com/1920x1080/?vilnius');
    font-size: 120%;
}

.card{
    background-color: var(--cardBG);
    color: var(--cardText);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin:1em
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: var(--searchBG);
    color:var(--cardText);
    font-size: 105%;
    width:calc(100% - 100px);
}


button{
    margin: 0.5em;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: var(--searchBG);
    color:var(--cardText);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: var(--searchHover);
}

h1.temp {
    margin: 0 ;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description{
    text-transform:capitalize;
    margin-left: 8px;
}